@font-face {
  font-family: "polaris";
  src: url("./fonts/Polaris.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo sans";
  src: url("./fonts/MuseoSansCyrl-500.woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img {
  background-image: url("./images/DrEggLogoOnPaper.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.background-img2 {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeImage {
  width: 100%;
  height: auto;
  /* background-size: cover; */
  /* background-image: url("./images/DrEggLogoOnPaper.jpg"); */
}

.enter {
  position: absolute;
  bottom: 10%;
  left: 44%;
  width: 200px;
  height: 90px;
  max-height: auto;
  max-width: 200px;
}

/* @media only screen and (max-width: 600px) {
  .homeImage {
    width: 100%
    }
} */

.characters:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

/* .imageHolder {
  background-image: url(../public/images/Lab.png);

} */

.containerWraper {
  position: relative;
  width: 100%;
}

.Lab {
  width: 100%;
  height: auto;
}

.bench {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: auto;
}

.carlin {
  position: absolute;
  bottom: 10%;
  left: 20%;
  max-width: 8%;
  max-height: auto;
}

.rifraf {
  position: absolute;
  bottom: 6%;
  left: 40%;
  max-width: 18%;
  max-height: auto;
}

.pigeon {
  position: absolute;
  bottom: 4%;
  left: 67%;
  max-width: 12%;
  max-height: auto;
}

.ardash {
  position: absolute;
  bottom: 4%;
  left: 35%;
  max-width: 30%;
  max-height: auto;
}

.cornelia {
  position: absolute;
  bottom: 5%;
  left: 66%;
  max-width: 28%;
  max-height: auto;
}

.DrEgg {
  position: absolute;
  bottom: 0%;
  max-width: 35%;
  max-height: auto;
}

.DrMoon {
  position: absolute;
  bottom: 0%;
  left: 46%;
  max-width: 35%;
  max-height: auto;
}

.Vivi {
  position: absolute;
  left: 20%;
  bottom: 4%;
  max-width: 28%;
  max-height: auto;
}

.EggDrone {
  position: absolute;
  bottom: 10%;
  left: 85%;
  max-width: 12%;
  max-height: auto;
}

.back {
  position: fixed;
  top: 0%;
  left: 85%;
  max-width: 12%;
  max-height: auto;
}

.snake {
  position: absolute;
  bottom: 0%;
  left: 88%;
  max-width: 12%;
  max-height: auto;
}

.mapContainer {
  background-image: url("./images/Map.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.DrEggMap {
  position: absolute;
  bottom: 10%;
  left: 10%;
  max-width: 15%;
  max-height: auto;
}

.resources {
  position: absolute;
  left: 35%;
  bottom: 15%;
  background-color: blue;
  color: white;
  border-color: blue;
  width: 100px;
  height: 50px;
}

.worlds {
  position: absolute;
  left: 75%;
  bottom: 32%;
  background-color: blue;
  color: white;
  border-color: blue;
  width: 25%;
  height: 42%;
}

.brightness img:hover {
  opacity: 0.5;
  color: yellow;
}

.TeacherButton {
  position: absolute;
  top: 5;
  top: 50%;
}
.StudentButton {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Worlds Screen Styles */

.world-image {
  background-image: url("./images/background-texture.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  display: flex;
}

.technoworld {
  max-width: 21%;
  max-height: auto;
}

.farmworld {
  max-width: 21%;
  max-height: auto;
}

.slumworld {
  max-width: 21.35%;
  max-height: auto;
}

.home-button {
  max-width: 100%;
  max-height: auto;
}

.hb-container {
  position: absolute;
  top: 0px;
  right: 30px;
  padding: 20px;
}

.techno-text-container {
  position: absolute;
  left: 41%;
}

.farm-text-container {
  position: absolute;
  left: 61%;
}

.slum-text-container {
  position: absolute;
  left: 35%;
}

.world-text {
  max-width: 50%;
  max-height: auto;
}

.back-icon {
  max-width: 70%;
  max-height: auto;
}

.world-text-farm {
  max-width: 60%;
  max-height: auto;
}

.techno-exit {
  width: 3%;
  position: absolute;
  left: 45%;
  bottom: 93%;
}

.farm-exit {
  width: 3.5%;
  position: absolute;
  left: 54%;
  bottom: 93%;
}

.slum-exit {
  width: 3%;
  position: absolute;
  left: 3%;
  bottom: 93%;
}

.lab-container {
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
}

.lab-button {
  position: absolute;
  width: 35%;
  height: auto;
  top: 88%;
  left: 33%;
}

.techno-text {
  position: absolute;
  bottom: 3%;
  left: 7%;
  width: 290px;
  height: 480px;
  text-align: center;
}

.farm-text {
  position: absolute;
  bottom: 3%;
  left: 8%;
  width: 290px;
  height: 480px;
  text-align: center;
}

.slum-text {
  position: absolute;
  bottom: 3%;
  left: 2%;
  width: 290px;
  height: 480px;
  text-align: center;
}

.world-title {
  font-size: 30px;
  font-family: "polaris";
  font-weight: normal;
}

.info-text {
  font-family: "museo sans";
  font-weight: normal;
  text-align: left;
}

.snake-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}

.chatbot {
  max-width: 100%;
  max-height: auto;
}

.snake-container img:hover {
  opacity: 0.5;
  color: yellow;
}

/* Lab Screen Styles */

.bench {
  max-width: 100%;
  max-height: auto;
}

.dregg {
  max-width: 50%;
  max-height: auto;
}

.drmoon {
  max-width: 50%;
  max-height: auto;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 78%;
  bottom: 42%;
}

.lab-buttons {
  max-width: 70%;
  max-height: auto;
  padding: 7px;
}

.bb-container {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.bench-button {
  max-width: 35%;
  max-height: auto;
  padding: 10px;
}

.tool-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 10%;
}

.tools {
  max-width: 15%;
  max-height: auto;
  padding: 40px;
}

.tools:hover {
  transform: scale(1.5);
}

.back-container {
  position: absolute;
  width: 100%;
  padding: 20px;
}

.back {
  max-width: 100%;
  max-height: auto;
  top: 5%;
  right: 3%;
}

/* .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 1554px;
  width: 100%;

  background-image: url("./images/DrEggLogoOnPaper.jpg");
  background-size: cover;

} */
