@font-face {
  font-family: "polaris";
  src: url("./fonts/Polaris.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo sans";
  src: url("./fonts/MuseoSansCyrl-500.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chalktastic";
  src: url("./fonts/Chalktastic.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quagmire";
  src: url("./fonts/Quagmire-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow: hidden;
}

.all {
  cursor: pointer;
}
p {
  font-family: "museo sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: polaris;
  font-size: 3vh;
  color: white;
}

h1 {
  font-family: polaris;
  font-size: 4vh;
  color: #0489b1;
}

p {
  font-family: "museo sans";
}

.Loading-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.Loading-Background-Container {
  background-image: url("./images/background-texture.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Dropdown {
  width: 100%;
}
/* Home Screen Styling */

.Lab-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 101%;
  height: 100vh;
}
.Home-Background-Container {
  background-image: url("./images/World-Blur.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 75%;
  object-fit: cover;
  position: relative;
}

.DrEggLogo {
  position: absolute;
  top: 5%;
  left: 37%;
  width: 25%;
  height: 44%;
  max-width: 100%;
  max-height: 100%;
}

.Home-Button-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-Enter-Button {
  width: 30%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 35%;
}

.Home-Enter-Button:hover {
  content: url("./images/btn-Enter-Glow.png");
}

/* Individual Character Screen Styling */

.Individual-Character-Styling {
  position: absolute;
  bottom: 0%;
  left: 9%;
  max-width: 20%;
  max-height: auto;
}

.Individual-Character-Styling-EggDrone {
  position: absolute;
  bottom: 0%;
  left: 9%;
  max-width: 20%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors {
  position: absolute;
  bottom: -15%;
  left: 2%;
  width: 25%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors-Ardash {
  position: absolute;
  bottom: -10%;
  left: 9%;
  width: 20%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors-Cornelia {
  position: absolute;
  bottom: -10%;
  left: 9%;
  width: 18%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors-Vivi {
  position: absolute;
  bottom: -10%;
  left: 9%;
  width: 22%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-ProfMole {
  position: absolute;
  bottom: 0%;
  left: 62%;
  width: 40%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Pigeon {
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 100%;
  max-width: 20%;
  max-height: auto;
}

.Individual-Character-Styling-Snake {
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 25%;
  max-width: 100%;
  max-height: auto;
}
.Blackboard {
  width: 100vw;
  height: 100vh;
}
.Character-Pet {
  width: 10%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  bottom: 5%;
  left: 75%;
}

.Character-Pet-Pigeon {
  width: 10%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  bottom: 5%;
  left: 85%;
}

.Character-Type {
  position: absolute;
  top: 12%;
  left: 30%;
  font-size: 4vh;
}

.Character-Type-Pet {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2vh;
  color: #5daa86;
}

.Individual-Character-Name {
  position: absolute;
  left: 30%;
  top: 20%;
  line-height: 100px;
}

.Individual-Scientist-Name {
  position: absolute;
  left: 30%;
  top: 20%;
  line-height: 100px;
}
.Individual-Character-Name-Pet {
  position: absolute;
  left: 6%;
  top: 10%;
  line-height: 100px;
  color: #5daa86;
  font-size: 2.5vh;
}

.Individual-Character-Slogan {
  position: absolute;
  left: 38%;
  top: 20%;
  line-height: 100px;
}

.Individual-Character-Name-ProfMole {
  font-family: polaris;
  position: absolute;
  left: 35%;
  top: 20%;
  line-height: 100px;
}

.Individual-Character-DrEggDrone {
  font-family: polaris;
  position: absolute;
  left: 35%;
  top: 20%;
  line-height: 100px;
}

/* Companion popups  */

.Character-Pet-Popup {
  position: absolute;
  left: 2%;
  width: 22%;
  max-width: 100%;
  top: 23%;
}

.btn-close {
  position: absolute;
  left: 96%;
  top: 4%;
}

.clicked:active {
  opacity: 80%;
}

.Companion-Description {
  font-family: museo sans;
  width: 50%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  left: 30%;
  top: 33%;
  font-size: 2vh;
  line-height: 50px;
  color: #5daa86;
}

.Character-Description {
  font-family: "museo sans";
  width: 50%;
  height: 35.5%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  left: 32%;
  top: 35%;
  font-size: 2vh;
  text-align: left;
  line-height: 38px;
  color: white;
  overflow: auto;
}
.Character-Description-Snake {
  font-family: "museo sans";
  width: 50%;
  height: 35.5%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  left: 32%;
  top: 35%;
  font-size: 2vh;
  text-align: left;
  line-height: 38px;
  color: white;
  overflow: auto;
}

/* Character Screen Styling */
.Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  backdrop-filter: blur(5px);
}

.Character-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 101vw;
  height: 100vh;
  position: relative;
}

.good-light {
  position: absolute;
  left: -7%;
  width: 120%;
  top: -5%;


}

.bad-light {
  position: absolute;
  left: 57%;
  width: 120%;
  top: -6%;

}

.characters:hover {
  opacity: 80%;
}

/* Resource screen styling  */

h1.Resources-Title {
  font-size: 5vh;
  font-family: polaris;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 36%;
  color: white;
}

.Resource-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.buttons {
  position: absolute;
  top: 40%;
  left: 28%;
  align-items: center;
  display: block;
  width: 60%;
}

.ProductOverview {
  position: absolute;
  left: 3%;
  top: 35%;
  width: 70%;

  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Text {
  position: absolute;
  left: 8%;
  top: 10%;
  color: #367771;
  font-size: 4vh;
  font-family: "polaris";

  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeImage {
  width: 100%;
  height: auto;
}

.enter {
  position: absolute;
  bottom: 10%;
  left: 44%;
  width: 200px;
  height: 90px;
  max-height: auto;
  max-width: 200px;
}

.containerWraper {
  position: relative;
  width: 100%;
}

.Lab {
  width: 100%;
  height: auto;
}

.Character-Bench {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 99.5vw;
  /* max-height: 100%; */
  height: 30vh;
}

.Carlin {
  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 8%;
  max-width: 100%;
  max-height: auto;
}

.Rifraf {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 18%;
  max-height: auto;
}

.Pigeon {
  position: absolute;
  bottom: 4%;
  left: 67%;
  width: 12%;
  max-width: 100%;
  height: auto;
}

.bad-characters {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 55%;
  /* top: 15%; */
}
.ProfMole {
  position: absolute;
  bottom: 45%;
  left: 16.5%;
  width: 28%;
  height: 40%;
  max-width: 100%;
  max-height: auto;
}

.ProfMole:hover {
  content: url("./images/characters/ProfMole-Highlight2.png");
  width: 35%;
  height: 46%;

  left: 11%;
}

.good-characters {
  height: 100%;
  width: 100%;
  position: absolute;
  left: -30%;
  /* top: 15%; */
}

.Cornelia {
  position: absolute;
  bottom: 4%;
  left: 40%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  height: 70%;
}

.Cornelia:hover {
  content: url("./images/characters/Cornelia-Highlight2.png");
  width: 15%;
  left: 42%;
}

.Ardash {
  position: absolute;
  bottom: 8%;
  left: 50%;
  width: 22%;
  max-width: 100%;
  max-height: 100%;
  height: 70%;
}

.Ardash:hover {
  content: url("./images/characters/Ardash-Highlight-2.png");
  width: 18%;
  left: 52%;
}

.DrEgg {
  position: absolute;
  bottom: 7%;
  left: 30%;
  width: 28%;
  max-width: 100%;
  height: 100%;
}

.DrEgg:hover {
  content: url("./images/characters/Dr-Egg-Highlight2.png");
  width: 23%;
  bottom: 5%;
}

.DrMoon {
  position: absolute;
  bottom: 7%;
  left: 45%;
  width: 28%;
  max-width: 100%;
  height: 100%;
}

.DrMoon:hover {
  content: url("./images/characters/Dr-Moon-Highlight2.png");
  width: 23%;
  left: 48%;
}

.Vivi {
  position: absolute;
  left: 30%;
  bottom: 3%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  height: 70%;
}

.Vivi:hover {
  content: url("./images/characters/Vivi-Highlight2.png");
  width: 18%;
}

.EggDrone {
  position: absolute;
  bottom: 10%;
  left: 85%;
  width: 12%;
  max-width: 100%;
  max-height: auto;
}

.EggDroneHighlight:hover {
  content: url("./images/characters/EggDrone1.png");
  left: 75%;
  top: 63%;
  cursor: pointer;
}

.PigeonHighlight:hover {
  content: url("./images/characters/Pigeon-Highlight.png");
  left: 85%;
  top: 76%;
  cursor: pointer;
}

.CarlinHighlight:hover {
  content: url("./images/characters/Carlin-Highlight.png");
  left: 75%;
  top: 78%;
  cursor: pointer;
}

.SnakeImg {
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 22%;
  max-width: 100%;
  max-height: auto;
}

.SnakeImg:hover {
  content: url("./images/characters/Snake-Highlight2.png");
  width: 24%;
  left: 40%;
}

.Back-Button {
  position: fixed;
  top: 2%;
  left: 86%;
  max-width: 10%;
  max-height: auto;
}

.Back-Button:hover {
  content: url("./images/btn-Back-hover.png");
  left: 84%;
  top: 0%;
}

.Chatbot-Snake {
  position: absolute;
  bottom: 0%;
  left: 87%;
  max-width: 12%;
  max-height: auto;
}

.Map-Snake {
  position: absolute;
  bottom: 4%;
  left: 77%;
  max-width: 12%;
  max-height: auto;
}

.Map-Container:hover {
  outline-color: red;
  border: 1px dolid;
}

.Container {
  background-image: url("./images/background-texture.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DrEggMap {
  position: absolute;
  bottom: 10%;
  left: 10%;
  max-width: 15%;
  max-height: auto;
}

.CharactersLink {
  border-color: blue;
}

.MapImage {
  width: 100%;
  height: 100vh;
}

.Characters-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  width: 101vw;
  height: 100vh;
}

table,
th,
td {
  border: solid;
}

.GamesHeading {
  position: absolute;
  top: 44%;
  left: 46%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.ResourcesHeading {
  position: absolute;
  top: 83%;
  left: 16%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.ContactHeading {
  position: absolute;
  top: 88%;
  left: 89%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.CharactersHeading {
  position: absolute;
  top: 70%;
  left: 6%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.LabHeading {
  position: absolute;
  top: 25%;
  left: 65%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.WorldsHeading {
  position: absolute;
  top: 60%;
  left: 60%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.TrailerHeading {
  position: absolute;
  top: 80%;
  left: 38%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.OnlineStoreHeading {
  position: absolute;
  top: 74%;
  left: 46%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.resources {
  position: absolute;
  left: 35%;
  bottom: 15%;
  background-color: blue;
  color: white;
  border-color: blue;
  width: 100px;
  height: 50px;
}

.worlds {
  position: absolute;
  left: 75%;
  bottom: 32%;
  background-color: blue;
  color: white;
  border-color: blue;
  width: 25%;
  height: 42%;
}

.brightness img:hover {
  opacity: 0.5;
  color: yellow;
}

/* Contact Screen Styling  */

.Contact-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

h1.Contact-Title {
  font-family: Polaris;
  text-transform: uppercase;
  font-size: 5vh;
  position: absolute;
  left: 0;
  right: 0;
  width: 400px;
  margin: 0 auto;
  top: 20%;
  color: #fff;
}

.Contact-MessageBox {
  width: 100%;
  height: 20vh;
  padding: 12px 20px;
}

.Contact-Form {
  width: 100%;
  max-width: 50%;
  padding: 100px 15px;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 25%;
}

.Contact-Info {
  font-family: museo sans;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 800px;
  margin: 0 auto;
  color: white;
  line-height: 40px;
  font-size: 3vh;
}

.indent {
  text-indent: 19%;
}
.Contact-FormGroup {
  padding: 15px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Contact-Form .form-group {
  display: flex;
}

.Contact-Form .form-group .input-wrapper {
  width: 100%;
}

.Contact-Form .Contact-Label {
  margin: 8px 0;
  font-family: Museo-sans;
  font-size: 2vh;
  width: 25%;
  color: #fff;
  font-weight: 400px;
  font-size: 3vh;
}

.Contact-Form input,
.Contact-Form textarea {
  border-radius: 20px;
  background: url("./assets/images/paper_texture_04.jpg");
}

.Contact-Form input:focus,
.Contact-Form textarea:focus {
  outline: none;
}
.contact-modal .modal-content {
  text-align: center;
  background: url("./assets/images/FormBackground.png");
  background-size: cover;
  background-position: center;
}
.contact-modal .modal-header {
  border-bottom: none;
}
.contact-modal .modal-body {
  padding: 1rem 1rem 3rem 1rem;
}
.contact-modal h2 {
  color: #367771;
  font-size: 2.5rem;
  margin-top: 0.5em;
}
.contact-modal p {
  color: #367771;
  font-size: 1.5rem;
}
.Contact-Button {
  width: 100%;
  max-width: 24vh;
  height: auto;
  padding: 1vh;
  margin: 1vh auto;
  display: block;
  border-radius: 3vh;
  border-width: 1vh;
  border-color: #83cfb1;
  font-family: Polaris;
  font-size: 4vh;
  color: #367771;
}

.text {
  max-width: 30%;
  max-height: auto;
  font-weight: 9vh;
  text-align: center;
}

/* Worlds Screen Styles */

.world-image {
  background-image: url("./images/background-texture.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  display: flex;
}

.world:hover {
  z-index: 1;
  backdrop-filter: blur(5px);
}
.technoworld1 {
  max-width: 100%;
  position: absolute;
  left: 70%;
  top: 25%;
  width: 25%;

  margin-left: auto;
  margin-right: auto;
}

.farmworld1 {
  position: absolute;
  left: 10%;
  top: 25%;
  max-height: 100%;
  width: 25%;
  max-width: 100%;
}

.slumworld1 {
  position: absolute;
  left: 25%;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  max-width: 100%;
}

.egglab1 {
  position: absolute;
  left: 55%;
  top: 25%;
  width: 25%;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.seedcorp1 {
  position: absolute;
  left: 40%;
  top: 25%;
  width: 25%;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.Snake-text {
  font-size: 2.5vh;
  font-family: "museo sans";
}

.Landscape-text {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  text-align: center;
  font-size: 4vh;
  font-family: "museo sans";
}
.home-button {
  max-width: 100%;
  max-height: auto;
}

.hb-container {
  position: absolute;
  top: 0px;
  right: 30px;
  padding: 20px;
}

.techno-text-container {
  position: absolute;
  left: 41%;
}

.farm-text-container {
  position: absolute;
  left: 61%;
}

.slum-text-container {
  position: absolute;
  left: 35%;
}

.world-text {
  max-width: 58%;
  max-height: auto;
}

.back-icon {
  max-width: 70%;
  max-height: auto;
}

.world-text-farm {
  max-width: 50%;
  max-height: auto;
}

.techno-exit {
  width: 3%;
  position: absolute;
  left: 45%;
  bottom: 93%;
}

.farm-exit {
  width: 3.5%;
  position: absolute;
  left: 45%;
  bottom: 93%;
}

.slum-exit {
  width: 3%;
  position: absolute;
  left: 3%;
  bottom: 93%;
}

.lab-container {
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
}

.lab-button {
  position: absolute;
  width: 35%;
  height: auto;
  top: 88%;
  left: 33%;
}

.techno-text {
  position: absolute;
  bottom: 3%;
  left: 7%;
  width: 290px;
  height: 480px;
  text-align: center;
}

.farm-text {
  position: absolute;
  bottom: 9%;
  left: 8%;
  width: 100%;
  max-width: 38%;
  max-height: auto;
  text-align: center;
}

.slum-text {
  position: absolute;
  bottom: 1%;
  left: 6%;
  width: 290px;
  height: 580px;
  text-align: center;
}

.world-title {
  font-size: 30px;
  font-family: "polaris";
  font-weight: normal;
}

.info-text {
  font-family: "museo sans";
  font-weight: normal;
  text-align: left;
}

.chatbot {
  max-width: 100%;
  max-height: auto;
}

.Chatbot-Snake img:hover {
  opacity: 0.5;
  color: yellow;
}

/* Lab Screen Styles */

.bench {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  max-width: 100%;
  max-height: auto;
}

.dregg {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  right: 25%;
  bottom: 25%;
}

.drmoon {
  max-width: 50%;
  max-height: auto;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 4%;
  top: 4%;
  width: 25%;
}

.lab-button-wc {
  max-width: 75%;
  max-height: auto;
  padding: 7px;
}

.lab-button-facts {
  max-width: 85%;
  max-height: auto;
  padding: 7px;
}

.lab-button-fanfic {
  max-width: 60%;
  max-height: auto;
  padding: 7px;
}

.lab-button-inv {
  max-width: 90%;
  max-height: auto;
  padding: 7px;
}

.lab-button-biogoo {
  max-width: 45%;
  max-height: auto;
  padding: 7px;
}

.plank-container {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  bottom: 0%;
}

.plankname {
  position: absolute;
  font-family: museo sans;
  font-weight: bold;
  text-align: left;
  font-size: 4vh;
  color: white;
  top: 25%;
}

.plank {
  max-width: 60%;
  max-height: auto;
}

.aboriginal-flag {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  right: 5%;
  top: 18%;
}

.aboriginal-flag:hover {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  left: 85%;
  top: 17%;
  transform: scale(1.2);
}

.tool-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 18%;
}

.tools {
  width: 15%;
  max-width: 100%;
  max-height: auto;
  padding: 40px;
}

.tools:hover {
  transform: scale(1.5);
}

.wc-box {
  position: absolute;
  max-width: 30%;
  max-height: auto;
  left: 70%;
  top: 30%;
}

.back-container {
  position: absolute;
  width: 100%;
  padding: 20px;
}

.lab-blackboard {
  position: absolute;
  max-width: 45%;
  max-height: auto;
  left: 55%;
  top: 15%;
}

.popup-text {
  position: absolute;
  top: 25%;
  left: 0%;
  padding: 2px;
  font-family: "museo sans";
  font-weight: bold;
  text-align: center;
  font-size: 3vh;
}

.yt-trailer {
  position: absolute;
  width: 71.5%;
  height: 79.5%;
  max-width: 100%;
  max-height: 100%;
  left: 15%;
  top: 12%;
}

.book-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  transform: scale(0.8);
}

.page1 {
  margin-top: 12%;
}

.book-heading {
  font-family: polaris;
  color: #367771;
  text-align: center;
  font-size: 30px;
}

.book-text {
  font-family: museo sans;
  text-align: center;
  font-size: 20px;
}

.fact1Container{
  top:5%;
  bottom:5%;
  left:1%;
  right: 1%;
  position:absolute;
  overflow: auto;
}

.fact {
  max-width: 100%;
  width: 70%;
  margin-left: -30px;
}

.fact2 {
  max-width: 100%;
  width: 70%;
  width: 100%;
  height: auto;
  transform: scale(0.9);
}

.fact2 {
  width: 70%;
  height: auto;
  margin-left: 15%;
  padding: 20px;
}

.popup-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40%;
}

.popup-btn {
  padding: 20px;
}

.popup-btn-cont {
  padding: 20px;
}

.ardash-popup {
  position: absolute;
  left: 30%;
  bottom: 35%;
  max-width: 100%;
  width: 50%;
}

.wc-blackboard-container {
  position: absolute;
  width: 71.5%;
  height: 79.5%;
  max-width: 100%;
  max-height: 100%;
  left: 15%;
  top: 12%;
}

.wc-heading {
  color: white;
  font-family: polaris;
  text-align: center;
  font-size: 50px;
  padding: 10px;
}

.hr-line {
  height: 2px;
  color: white;
  background-color: white;
  margin-top: -20px;
}

.submit-icon {
  position: absolute;
  max-width: 100%;
  top: 0;
  right: 0;
  padding: 30px;
}

.chat-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 2%;
}

.wc-text {
  color: white;
  text-align: center;
  font-family: museo sans;
  font-size: 30px;
  padding: 20px;
  width: 80%;
}

.fish-icon {
  position: absolute;
  left: 0;
}

.hr-line2 {
  margin-top: 20px;
  opacity: 0.2;
  color: white;
  background-color: white;
  height: 1px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

/* Game Screen */

.Game-Background-Container {
  background-image: url("./images/World-Blur.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.game-container {
  display: flex;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.gamebtn {
  display: flex;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  padding-left: 17%;
}

.game-button {
  max-width: 40%;
  max-height: auto;
  margin: 10px;
}

.apple-button {
  width: 70%;
  max-width: 100%;
  max-height: auto;
  margin-top: 4%;
}

.game-text1 {
  font-family: polaris;
  font-weight: bold;
  text-align: center;
  font-size: 4vh;
  color: #5daa86;
}

.game-text2 {
  position: absolute;
  bottom: 0%;
  left: 35%;
  font-family: polaris;
  font-weight: bold;
  text-align: center;
  font-size: 2vh;
}

.ardash-face {
  position: absolute;
  top: 60%;
  right: 80%;
  max-width: 100%;
  width: 18%;
}

.vivi-face {
  position: absolute;
  top: 63%;
  left: 80%;
  max-width: 100%;
  width: 18%;
}



/*Error Pages Style*/

.ErrorPageStyle {
  background-image: url("./images/Lab.png");
  background-size: 100% 100%;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ErrorTxtCont {
  position: absolute;
  top: 12vh;
  left: 15vw;
  height: 48vh;
  width: 71vw;
  padding: 4vw 0;
  overflow: auto;
}

.ErrorTxt {
  width: 69vw;
}

.h1ErrorChalkboard {
  font-size: 20vh;
  font-family: "polaris";
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.h2ErrorChalkboard {
  font-size: 5vh;
  font-family: "museo sans";
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.h3ErrorChalkboard {
  font-size: 2vh;
  font-family: "museo sans";
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.ErrorBlackboard {
  height: 100vh;
  width: 100vw;
}

.ErrorHomeButton {
  background-image: url("./images/btn-Home.png");
  background-size: 100% 100%;
  position: absolute;
  top: 60vh;
  bottom: 26vh;
  right: 51vw;
  left: 28vw;
}

.ErrorHomeButton:hover {
  background-image: url("./images/btn-home-Glow.png");
  top: 58vh;
  bottom: 24vh;
  right: 50vw;
  left: 27vw;
}

.ErrorReportButton {
  background-image: url("./images/btn-Report.png");
  background-size: 100% 100%;
  position: absolute;
  top: 60vh;
  bottom: 26vh;
  left: 50vw;
  right: 28vw;
}

.ErrorReportButton:hover {
  background-image: url("./images/btn-report-Glow.png");
  top: 58vh;
  bottom: 24vh;
  left: 49vw;
  right: 27vw;
}

.ErrorBack {
  background-image: url("./images/btn-Back.png");
  background-size: 100% 100%;
  position: absolute;
  top: 2vh;
  bottom: 88vh;
  right: 2vw;
  width: 18vh;
  max-width: 100vw;
}
.ErrorBack:hover {
  cursor: pointer;
  background-image: url("./images/btn-Back-hover.png");
  top: 0vh;
  bottom: 86vh;
  right: 1vw;
  width: 22vh;
  max-width: 100vw;
}

/* Online Store Stying*/

.OnlineStore-Background-Container {
  background-image: url("./images/OnlineStoreImage/OnlineStoreBG.png");
  background-size: 100% 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.OnlineStore-Container {
  display: flex;
  width: 100%;
  height: 100%;
}

.InputStyle {
  display: none;
}

#bookCover {
  width: 100%;
  height: 100%;
}

.imgPageCoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("./images/OnlineStoreImage/Page.png");
  background-size: 100% 100%;
  position: relative;
  right: -13%;
  top: 6%;
  height: 89%;
  width: 87%;
}

.pageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 100vw;
}

.page {
  transform-origin: left;
  transform: rotateY(0deg);
  width: 100%;
  height: 100%;
  position: absolute;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 0.5s;
  -moz-backface-visibility: hidden;
}

.frontPageContainer,
.backPageContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
}

.backPageContainer {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  text-align: center;
}

.backPage {
  background-image: url("./images/OnlineStoreImage/Page.png");
  background-size: 100% 100%;
  right: -13%;
  top: 6%;
  height: 89%;
  width: 87%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.frontPageContainer {
  box-sizing: border-box;
}

.frontPage {
  background-image: url("./images/OnlineStoreImage/Page.png");
  transform: rotateY(180deg);
  background-size: 100% 100%;
  position: absolute;
  left: 0%;
  top: 6%;
  height: 89%;
  width: 87%;
  position: relative;
}

.bookTxt {
  top: 5%;
  right: 5%;
  left: 2%;
  position: absolute;
  height: 90%;
  overflow: auto;
  font-family: "Museo-sans";
  font-size: 3vh;
  transform: rotateY(180deg);
}

#c1:checked ~ .pageContainer #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
}

#c2:checked ~ .pageContainer #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}

#c3:checked ~ .pageContainer #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}

.nextBtn {
  background-image: url("./images/OnlineStoreImage/btnRight.png");
  background-size: 100% 100%;
  position: absolute;
  cursor: pointer;
  bottom: 2vh;
  left: 2vw;
  height: 8%;
  width: 16%;
}

.nextBtn:hover {
  background-image: url("./images/OnlineStoreImage/btnRightGlow.png");
  bottom: 1vh;
  left: 1vw;
  height: 10%;
  width: 19%;
}

.backBtn {
  background-image: url("./images/OnlineStoreImage/btnRight.png");
  background-size: 100% 100%;
  position: absolute;
  cursor: pointer;
  bottom: 2vh;
  right: 2vw;
  height: 8%;
  width: 16%;
  transform: rotateY(180deg);
}

.backBtn:hover {
  background-image: url("./images/OnlineStoreImage/btnRightGlow.png");
  bottom: 1vh;
  right: 1vw;
  height: 10%;
  width: 19%;
}

.OnlineTxt {
  top: 25%;
  width: 100%;
  position: absolute;
  font-size: 3vh;
  font-family: "polaris";
  font-weight: bold;
  text-align: center;
}

.OnlineStore-Button {
  position: absolute;
  background-image: url("./images/OnlineStoreImage/OrderHere.png");
  background-size: 100% 100%;
  cursor: pointer;
  top: 40%;
  bottom: 45%;
  left: 20%;
  right: 20%;
}

.OnlineStore-Button:hover {
  background-image: url("./images/OnlineStoreImage/OrderHereGlow.png");
  top: 38%;
  bottom: 43%;
  left: 18%;
  right: 18%;
}

.StoreBack {
  background-image: url("./images/btn-Back.png");
  background-size: 100% 100%;
  top: 1vh;
  bottom: 91vh;
  right: 1vw;
  width: 17vh;
  max-width: 100vw;
  position: absolute;
}

.StoreBack:hover {
  background-image: url("./images/btn-Back-hover.png");
  top: 0vh;
  bottom: 89vh;
  right: 0vw;
  width: 21vh;
  max-width: 100vw;
}

.OnlineGroupImg {
  position: absolute;
  bottom: 3%;
  height: 40%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.StoreSnake {
  background-image: url("./images/SnakeWorlds.png");
  background-size: 100% 100%;
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  height: 8vh;
  width: 16vh;
  max-width: 16vw;
  cursor: pointer;
}

.StoreSnake:hover {
  background-image: url("./images/SnakeWorldsGlow.png");
  right: 1vw;
  bottom: 1vw;
  height: 9vh;
  width: 17vh;
  max-width: 17vw;
}

.BookCoverImg {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.BookImg {
  width: auto;
  max-width: 100%;
  height: 99%;
  object-fit: contain;
}

#p1 {
  z-index: 3;
}
#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

/* Map Styling */

.Map-Container {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
}

.Map {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.GamesHeading {
  position: absolute;
  top: 39%;
  left: 80%;
  right: 9%;
  bottom: 54%;
  background-image: url("./images/MapButton/Btn-Game.png");
  background-size: 100% 100%;
}
.GamesHeading:hover {
  position: absolute;
  top: 37%;
  left: 79%;
  right: 8%;
  bottom: 53%;
  background-image: url("./images/MapButton/Btn-Game-Glow.png");
  background-size: 100% 100%;
}

.ContactHeading {
  position: absolute;
  top: 87%;
  bottom: 6%;
  left: 74%;
  right: 15%;
  background-image: url("./images/MapButton/Btn-Contact.png");
  background-size: 100% 100%;
}

.ContactHeading:hover {
  position: absolute;
  top: 85%;
  bottom: 5%;
  left: 73%;
  right: 14%;
  background-image: url("./images/MapButton/Btn-Contact-Glow.png");
  background-size: 100% 100%;
}

.CharactersHeading {
  position: absolute;
  top: 67%;
  bottom: 26%;
  left: 28%;
  right: 55%;
  background-image: url("./images/MapButton/Btn-Characters.png");
  background-size: 100% 100%;
}
.CharactersHeading:hover {
  position: absolute;
  top: 65%;
  bottom: 25%;
  left: 27%;
  right: 54%;
  background-image: url("./images/MapButton/Btn-Characters-Glow.png");
  background-size: 100% 100%;
}

.LabHeading {
  position: absolute;
  top: 47%;
  bottom: 46%;
  left: 50%;
  right: 32%;
  background-image: url("./images/MapButton/Btn-Laboratory.png");
  background-size: 100% 100%;
}

.LabHeading:hover {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 49%;
  right: 31%;
  background-image: url("./images/MapButton/Btn-Laboratory-Glow.png");
  background-size: 100% 100%;
}

.WorldsHeading {
  position: absolute;
  top: 38%;
  bottom: 55%;
  left: 17%;
  right: 71%;
  background-image: url("./images/MapButton/Btn-World.png");
  background-size: 100% 100%;
}

.WorldsHeading:hover {
  position: absolute;
  top: 36%;
  bottom: 54%;
  left: 16%;
  right: 70%;
  background-image: url("./images/MapButton/Btn-World-Glow.png");
  background-size: 100% 100%;
}

.TrailerHeading {
  position: absolute;
  top: 61%;
  bottom: 32%;
  left: 83%;
  right: 3%;
  background-image: url("./images/MapButton/Btn-Trailer.png");
  background-size: 100% 100%;
}

.TrailerHeading:hover {
  position: absolute;
  top: 59%;
  bottom: 31%;
  left: 82%;
  right: 2%;
  background-image: url("./images/MapButton/Btn-Trailer-Glow.png");
  background-size: 100% 100%;
}

.ResourcesHeading {
  position: absolute;
  top: 77%;
  bottom: 16%;
  left: 3%;
  right: 73%;
  background-image: url("./images/MapButton/Btn-ProductOverview.png");
  background-size: 100% 100%;
}

.ResourcesHeading:hover {
  position: absolute;
  top: 75%;
  bottom: 15%;
  left: 2%;
  right: 72%;
  background-image: url("./images/MapButton/Btn-ProductOverview-Glow.png");
  background-size: 100% 100%;
}

.OnlineStoreHeading {
  position: absolute;
  top: 75%;
  bottom: 18%;
  left: 54%;
  right: 35%;
  background-image: url("./images/MapButton/Btn-Book.png");
  background-size: 100% 100%;
}
.OnlineStoreHeading:hover {
  position: absolute;
  top: 73%;
  bottom: 17%;
  left: 53%;
  right: 34%;
  background-image: url("./images/MapButton/Btn-Book-Glow.png");
  background-size: 100% 100%;
}
.MapSnake {
  position: absolute;
  bottom: 4vh;
  right: 5vw;
  width: auto;
  height: 9vh;
}
.BtnContain {
  height: 100vh;
  width: 141vh;
  background-image: url("./images/WorldMap.png");
  background-size: 100% 100%;
  position: relative;
}

/* Chatbox */

.ChatBoxContainer {
  display: none;
}

#chat:checked ~ .ChatBoxContainer {
  z-index: 10;
  left: 0;
  top: 0;
  height: 100vh;
  width: 56.25vh;
  max-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.chatClose {
  right: 0%;
  top: 0%;
  height: 5%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  cursor: pointer;
}

.chatHBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.chatQBox {
  width: 100%;
  text-align: center;
  font-size: 4vh;
  font-family: "Museo-sans";
}

.chatABox {
  flex: 1;
  width: 100%;
  position: relative;
}
.chatbotImg {
  width: 50%;
  height: auto;
  object-fit: contain;
}

/*Chatbox Screens*/
/*Book Chatbox*/

.chatCont {
  height: 100%;
  width: 100%;
  position: relative;
}
#A1 {
  display: none;
}

#Q1:checked ~ .chatCont#QCont {
  display: none;
}
#Q1:checked ~ .chatCont#A1 {
  display: block;
}
.chatATxt {
  top: 21.5%;
  bottom: 10%;
  left: 1%;
  right: 5%;
  position: absolute;
  overflow: auto;
  font-size: 3vh;
  font-family: "Museo-sans";
  word-wrap: break-word;
}
.chatBackBtn {
  background-image: url("./images/OnlineStoreImage/btnRight.png");
  background-size: 100% 100%;
  top: 91%;
  bottom: 1%;
  left: 1%;
  right: 85%;
  transform: rotateY(180deg);
  position: absolute;
}

.chatBackBtn:hover {
  background-image: url("./images/OnlineStoreImage/btnRightGlow.png");
  top: 90%;
  bottom: 0%;
  left: 0%;
  right: 84%;
}

.chatBookQ1 {
  top: 2%;
  bottom: 79.5%;
  left: 2%;
  right: 3%;
  background-image: url("./images/Chatbot/ChatbotBook.png");
  background-size: 100% 100%;
  position: absolute;
}
.chatBookQ1:hover {
  top: 0%;
  bottom: 77.5%;
  left: 0%;
  right: 0%;
  background-image: url("./images/Chatbot/ChatbotBook(Glow).png");
}

  /*Chatbox Screens*/



  .chatCont{
    height: 100%;
    width: 100%;
    position: relative;
  }
  #A1{
    display: none;
  }
  #A2{
    display: none;
  }
  #A3{
    display: none;
  }
  #A4{
    display: none;
  }

  #Q1:checked ~ .chatCont#QCont{
    display: none;
  }
  #Q1:checked ~ .chatCont#A1{
    display: block;
  }
  #Q2:checked ~ .chatCont#QCont{
    display: none;
  }
  #Q2:checked ~ .chatCont#A2{
    display: block;
  }
  #Q3:checked ~ .chatCont#QCont{
    display: none;
  }
  #Q3:checked ~ .chatCont#A3{
    display: block;
  }
  #Q4:checked ~ .chatCont#QCont{
    display: none;
  }
  #Q4:checked ~ .chatCont#A4{
    display: block;
  }
  .chatATxt{
    top: 21.5%;
    bottom: 10%;
    left:1%;
    right: 5%;
    position:absolute;
    overflow: auto;
    font-size: 3vh;
    font-family: 'Museo-sans';
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
  }
  .chatBackBtn{
    background-image: url("./images/OnlineStoreImage/btnRight.png");
    background-size: 100% 100%;
    top: 91%;
    bottom: 1%;
    left:1%;
    right: 85%;
    transform: rotateY(180deg);
    position:absolute;
  }
  .chatBackBtn:hover{
    background-image: url("./images/OnlineStoreImage/btnRightGlow.png");
    top: 90%;
    bottom: 0%;
    left:0%;
    right: 84%;
  }

  /*Book Chatbox*/
  .chatBookQ1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotBook.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatBookQ1:hover{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotBook(Glow).png");
  }

.chatBookA1 {
  top: 2%;
  bottom: 79.5%;
  left: 2%;
  right: 3%;
  background-image: url("./images/Chatbot/ChatbotBook.png");
  background-size: 100% 100%;
  position: absolute;
}

  /*Resource Chatbox*/
  .chatRescQ1{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotProductOverview.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatRescQ1:hover{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotProductOverview(Glow).png");
  }

  .chatRescA1{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotProductOverview.png");
    background-size: 100% 100%;
    position: absolute;
  }

  /*Fanfic Chatbox*/
  .chatFFQ1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotFanFiction1.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatFFQ1:hover{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotFanFiction1(Glow).png");
  }

  .chatFFA1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotFanFiction1.png");
    background-size: 100% 100%;
    position: absolute;
  }

  .chatFFQ2{
    top: 24.5%;
    bottom: 57%;
    left:2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotFanFiction2.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatFFQ2:hover{
    top: 22.5%;
    bottom: 55%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotFanFiction2(Glow).png");
  }

  .chatFFA2{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotFanFiction2.png");
    background-size: 100% 100%;
    position: absolute;
  }
  
  /*Character Chatbox*/
  .chatCharQ1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotCharacters.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatCharQ1:hover{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotCharacters(glow).png");
  }

  .chatCharA1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotCharacters.png");
    background-size: 100% 100%;
    position: absolute;
  }

  /*contact chatbox*/
  .chatContactQ1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotContacts.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatContactQ1:hover{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotContacts(glow).png");
  }

  .chatContactA1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotContacts.png");
    background-size: 100% 100%;
    position: absolute;
  }

    /*contact Crazy Science Facts*/
    .chatCSFQ1{
      top: 2%;
      bottom: 79.5%;
      left: 2%;
      right:3%;
      background-image: url("./images/Chatbot/ChatbotCrazyScieneFacts.png");
      background-size: 100% 100%;
      position: absolute;
    }
    .chatCSFQ1:hover{
      top: 0%;
      bottom: 77.5%;
      left:0%;
      right:0%;
      background-image: url("./images/Chatbot/ChatbotCrazyScieneFacts(glow).png");
    }
  
    .chatCSFA1{
      top: 2%;
      bottom: 79.5%;
      left: 2%;
      right:3%;
      background-image: url("./images/Chatbot/ChatbotCrazyScieneFacts.png");
      background-size: 100% 100%;
      position: absolute;
    }

        /*Chatbot Crazy Science Facts*/
    .chatCSFQ1{
      top: 2%;
      bottom: 79.5%;
      left: 2%;
      right:3%;
      background-image: url("./images/Chatbot/ChatbotCrazyScieneFacts.png");
      background-size: 100% 100%;
      position: absolute;
    }
    .chatCSFQ1:hover{
      top: 0%;
      bottom: 77.5%;
      left:0%;
      right:0%;
      background-image: url("./images/Chatbot/ChatbotCrazyScieneFacts(glow).png");
    }
  
    .chatCSFA1{
      top: 2%;
      bottom: 79.5%;
      left: 2%;
      right:3%;
      background-image: url("./images/Chatbot/ChatbotCrazyScieneFacts.png");
      background-size: 100% 100%;
      position: absolute;
    }
      /*chatbot World*/
      .chatWorldQ1{
        top: 2%;
        bottom: 79.5%;
        left: 2%;
        right:3%;
        background-image: url("./images/Chatbot/ChatbotWorld.png");
        background-size: 100% 100%;
        position: absolute;
      }
      .chatWorldQ1:hover{
        top: 0%;
        bottom: 77.5%;
        left:0%;
        right:0%;
        background-image: url("./images/Chatbot/ChatbotWorld(glow).png");
      }
    
      .chatWorldA1{
        top: 2%;
        bottom: 79.5%;
        left: 2%;
        right:3%;
        background-image: url("./images/Chatbot/ChatbotWorld.png");
        background-size: 100% 100%;
        position: absolute;
      }

        /*Wierd Creaction Chatbox*/
  .chatWCQ1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotWeirdCreations1.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatWCQ1:hover{
    top: 0%;
    bottom: 77.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotWeirdCreations1(glow).png");
  }

  .chatWCA1{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotWeirdCreations1.png");
    background-size: 100% 100%;
    position: absolute;
  }

  .chatWCQ2{
    top: 24.5%;
    bottom: 57%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotWeirdCreations2.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatWCQ2:hover{
    top: 22.5%;
    bottom: 55%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotWeirdCreations2(glow).png");
  }

  .chatWCA2{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotWeirdCreations2.png");
    background-size: 100% 100%;
    position: absolute;
  }

          /*Lab Chatbox*/
          .chatLabQ1{
            top: 2%;
            bottom: 79.5%;
            left: 2%;
            right:3%;
            background-image: url("./images/Chatbot/ChatbotLaboratory1.png");
            background-size: 100% 100%;
            position: absolute;
          }
          .chatLabQ1:hover{
            top: 0%;
            bottom: 77.5%;
            left:0%;
            right:0%;
            background-image: url("./images/Chatbot/ChatbotLaboratory1(Glow).png");
          }
        
          .chatLabA1{
            top: 2%;
            bottom: 79.5%;
            left: 2%;
            right:3%;
            background-image: url("./images/Chatbot/ChatbotLaboratory1.png");
            background-size: 100% 100%;
            position: absolute;
          }
        
          .chatLabQ2{
            top: 24.5%;
            bottom: 57%;
            left:2%;
            right:3%;
            background-image: url("./images/Chatbot/ChatbotLaboratory2.png");
            background-size: 100% 100%;
            position: absolute;
          }
          .chatLabQ2:hover{
            top: 22.5%;
            bottom: 55%;
            left:0%;
            right:0%;
            background-image: url("./images/Chatbot/ChatbotLaboratory2(glow).png");
          }
        
          .chatLabA2{
            top: 2%;
            bottom: 79.5%;
            left: 2%;
            right:3%;
            background-image: url("./images/Chatbot/ChatbotLaboratory2.png");
            background-size: 100% 100%;
            position: absolute;
          }

  .chatLabQ3{
    top: 47%;
    bottom: 34.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotLaboratory3.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatLabQ3:hover{
    top: 45%;
    bottom: 32.5%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotLaboratory3(glow).png");
  }

  .chatLabA3{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotLaboratory3.png");
    background-size: 100% 100%;
    position: absolute;
  }

  .chatLabQ4{
    top: 69.5%;
    bottom: 12%;
    left:2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotLaboratory4.png");
    background-size: 100% 100%;
    position: absolute;
  }
  .chatLabQ4:hover{
    top: 67.5%;
    bottom: 10%;
    left:0%;
    right:0%;
    background-image: url("./images/Chatbot/ChatbotLaboratory4(glow).png");
  }

  .chatLabA4{
    top: 2%;
    bottom: 79.5%;
    left: 2%;
    right:3%;
    background-image: url("./images/Chatbot/ChatbotLaboratory4.png");
    background-size: 100% 100%;
    position: absolute;
  }
  
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .ChatBoxContainer {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .ChatBoxContainer {
    background-color: rgba(210, 215, 211, 0.8);
  }
}




/*Map image size*/
@media all and (min-aspect-ratio: 45/32) {
  .BtnContain {
    height: 71vw;
    width: 100vw;
  }
}
