@font-face {
  font-family: "polaris";
  src: url("./fonts/Polaris.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo sans";
  src: url("./fonts/MuseoSansCyrl-500.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chalktastic";
  src: url("./fonts/Chalktastic.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quagmire";
  src: url("./fonts/Quagmire-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow: hidden;
}

p {
  font-family: "museo sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: polaris;
  font-size: 3vh;
  color: white;
}

h1 {
  font-family: polaris;
  font-size: 4vh;
  color: #0489b1;
}

p {
  font-family: "museo sans";
}

.Loading-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.Loading-Background-Container {
  background-image: url("./images/background-texture.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Dropdown {
  width: 100%;
}
/* Home Screen Styling */

.Lab-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 101%;
  height: 100vh;
}
.Home-Background-Container {
  background-image: url("./images/World-Blur.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 75%;
  object-fit: cover;
  position: relative;
}

.DrEggLogo {
  position: absolute;
  top: 5%;
  left: 37%;
  width: 25%;
  height: 44%;
  max-width: 100%;
  max-height: 100%;
}

.Home-Button-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-Enter-Button {
  width: 30%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 35%;
}

.Home-Enter-Button:hover {
  content: url("./images/btn-Enter-Glow.png");
}

/* Individual Character Screen Styling */

.Individual-Character-Styling {
  position: absolute;
  bottom: 0%;
  left: 9%;
  max-width: 20%;
  max-height: auto;
}

.Individual-Character-Styling-EggDrone {
  position: absolute;
  bottom: 0%;
  left: 9%;
  max-width: 20%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors {
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 24%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors-Ardash {
  position: absolute;
  bottom: 0%;
  left: 9%;
  width: 19%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors-Cornelia {
  position: absolute;
  bottom: 0%;
  left: 9%;
  width: 16%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Inventors-Vivi {
  position: absolute;
  bottom: 0%;
  left: 9%;
  width: 20%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-ProfMole {
  position: absolute;
  bottom: 0%;
  left: 62%;
  width: 40%;
  max-width: 100%;
  max-height: auto;
}

.Individual-Character-Styling-Pigeon {
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 100%;
  max-width: 20%;
  max-height: auto;
}

.Individual-Character-Styling-Snake {
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 100%;
  max-width: 25%;
  max-height: auto;
}
.Blackboard {
  width: 100vw;
  height: 100vh;
}

.Character-Tool-Goggles {
  width: 100%;
  max-width: 10%;
  max-height: auto;
  position: absolute;
  bottom: 5%;
  left: 37%;
}
.Character-Tool {
  width: 20%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  bottom: 7%;
  left: 49%;
}

.Petridish {
  width: 10%;
}

.Character-Pet {
  width: 10%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  bottom: 5%;
  left: 65%;
}

.Character-Pet-Pigeon {
  width: 10%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  bottom: 0%;
  left: 75%;
}

.Character-Tool:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.Character-Type {
  position: absolute;
  top: 12%;
  left: 30%;
  font-size: 4vh;
}

.Character-Type-Pet {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2vh;
  color: #5daa86;
}

.Individual-Character-Name {
  position: absolute;
  left: 30%;
  top: 20%;
  line-height: 100px;
}

.Individual-Character-Name-Pet {
  position: absolute;
  left: 6%;
  top: 10%;
  line-height: 100px;
  color: #5daa86;
  font-size: 2.5vh;
}

.Individual-Character-Slogan {
  position: absolute;
  left: 38%;
  top: 20%;
  line-height: 100px;
}

.Individual-Character-Name-ProfMole {
  font-family: polaris;
  position: absolute;
  left: 35%;
  top: 20%;
  line-height: 100px;
}

.Individual-Character-DrEggDrone {
  font-family: polaris;
  position: absolute;
  left: 35%;
  top: 20%;
  line-height: 100px;
}

/* Companion popups  */

.Character-Pet-Popup {
  position: absolute;
  left: 2%;
  width: 22%;
  top: 23%;
}

.btn-close {
  position: absolute;
  left: 96%;
  top: 4%;
}

.clicked:active {
  opacity: 80%;
}

.Companion-Description {
  font-family: museo sans;
  width: 50%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  left: 30%;
  top: 33%;
  font-size: 2vh;
  line-height: 50px;
  color: #5daa86;
}

.Character-Description {
  font-family: "museo sans";
  width: 50%;
  height: 35.5%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  left: 32%;
  top: 35%;
  font-size: 2vh;
  text-align: left;
  line-height: 38px;
  color: white;
  overflow: auto;
}
.Character-Description-Snake {
  font-family: museo sans;
  width: 100%;
  max-width: 50%;
  max-height: auto;
  position: absolute;
  left: 22%;
  top: 30%;
  font-size: 2vh;
  text-align: left;
  line-height: 50px;
  color: white;
}

/* Character Screen Styling */
.Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  backdrop-filter: blur(5px);
}

.Character-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 101vw;
  height: 100vh;
  position: relative;
}

.good-characters:hover {
  background-image: url("./images/Good-Light.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.characters:hover {
  opacity: 80%;
}

.bad-characters:hover {
  background-image: url("./images/Bad-Light.png");
}

/* Resource screen styling  */

h1.Resources-Title {
  font-family: polaris;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 44%;
  color: white;
}

.Resource-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.buttons {
  position: absolute;
  top: 40%;
  left: 30%;
  align-items: center;
  display: block;
  width: 60%;
}

.ProductOverview {
  position: absolute;
  left: 3%;
  top: 35%;
  width: 70%;

  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Text {
  position: absolute;
  left: 8%;
  top: 10%;
  color: #367771;
  font-size: 4vh;
  font-family: "polaris";

  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeImage {
  width: 100%;
  height: auto;
}

.enter {
  position: absolute;
  bottom: 10%;
  left: 44%;
  width: 200px;
  height: 90px;
  max-height: auto;
  max-width: 200px;
}

.containerWraper {
  position: relative;
  width: 100%;
}

.Lab {
  width: 100%;
  height: auto;
}

.Character-Bench {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 99.5vw;
  /* max-height: 100%; */
  height: 30vh;
}

.Carlin {
  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 8%;
  max-width: 100%;
  max-height: auto;
}

.Rifraf {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 18%;
  max-height: auto;
}

.Pigeon {
  position: absolute;
  bottom: 4%;
  left: 67%;
  width: 12%;
  max-width: 100%;
  height: auto;
}

.bad-characters {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 55%;
  /* top: 15%; */
}
.ProfMole {
  position: absolute;
  bottom: 45%;
  left: 16.5%;
  width: 28%;
  height: 40%;
  max-width: 100%;
  max-height: auto;
}

.ProfMole:hover {
  content: url("./images/characters/ProfMole-Highlight.PNG");
  width: 35%;
  height: 46%;

  left: 11%;
}

.good-characters {
  height: 100%;
  width: 100%;
  position: absolute;
  left: -30%;
  /* top: 15%; */
}

.Cornelia {
  position: absolute;
  bottom: 4%;
  left: 40%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  height: 70%;
}

.Cornelia:hover {
  content: url("./images/characters/Cornelia-Highlight.png");
  width: 15%;
  left: 42%;
}

.Ardash {
  position: absolute;
  bottom: 8%;
  left: 50%;
  width: 22%;
  max-width: 100%;
  max-height: 100%;
  height: 70%;
}

.Ardash:hover {
  content: url("./images/characters/Ardash-Highlight.png");
  width: 18%;
  left: 52%;
}

.DrEgg {
  position: absolute;
  bottom: 7%;
  left: 30%;
  width: 28%;
  max-width: 100%;
  height: 100%;
}

.DrEgg:hover {
  content: url("./images/characters/Dr-Egg-Highlight.png");
  width: 23%;
  bottom: 5%;
}

.DrMoon {
  position: absolute;
  bottom: 7%;
  left: 45%;
  width: 28%;
  max-width: 100%;
  height: 100%;
}

.DrMoon:hover {
  content: url("./images/characters/Dr-Moon-Highlight.png");
  width: 23%;
  left: 48%;
}

.Vivi {
  position: absolute;
  left: 30%;
  bottom: 3%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  height: 70%;
}

.Vivi:hover {
  content: url("./images/characters/Vivi-Highlight.png");
  width: 18%;
}

.EggDrone {
  position: absolute;
  bottom: 10%;
  left: 85%;
  width: 12%;
  max-width: 100%;
  max-height: auto;
}

.EggDroneHighlight:hover {
  content: url("./images/characters/EggDrone1.png");
  left: 65%;
  top: 63%;
}

.PigeonHighlight:hover {
  content: url("./images/characters/Pigeon-Highlight.png");
  left: 75%;
  top: 83%;
}

.SnakeImg {
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 22%;
  max-width: 100%;
  max-height: auto;
}

.SnakeImg:hover {
  content: url("./images/characters/Snake-Highlight.png");
  width: 24%;
  left: 40%;
}

.Back-Button {
  position: fixed;
  top: 2%;
  left: 86%;
  max-width: 10%;
  max-height: auto;
}

.Back-Button:hover {
  content: url("./images/btn-Back-hover.png");
  left: 84%;
  top: 0%;
}

.Chatbot-Snake {
  position: absolute;
  bottom: 0%;
  left: 87%;
  max-width: 12%;
  max-height: auto;
}

.Map-Snake {
  position: absolute;
  bottom: 4%;
  left: 77%;
  max-width: 12%;
  max-height: auto;
}

.Map-Container:hover {
  outline-color: red;
  border: 1px dolid;
}

.Container {
  background-image: url("./images/background-texture.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DrEggMap {
  position: absolute;
  bottom: 10%;
  left: 10%;
  max-width: 15%;
  max-height: auto;
}

.CharactersLink {
  border-color: blue;
}

.MapImage {
  width: 100%;
  height: 100vh;
}

.Characters-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  width: 101vw;
  height: 100vh;
}

table,
th,
td {
  border: solid;
}

.GamesHeading {
  position: absolute;
  top: 44%;
  left: 46%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.ResourcesHeading {
  position: absolute;
  top: 83%;
  left: 16%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.ContactHeading {
  position: absolute;
  top: 88%;
  left: 89%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.CharactersHeading {
  position: absolute;
  top: 70%;
  left: 6%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.LabHeading {
  position: absolute;
  top: 25%;
  left: 65%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.WorldsHeading {
  position: absolute;
  top: 60%;
  left: 60%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.TrailerHeading {
  position: absolute;
  top: 80%;
  left: 38%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.OnlineStoreHeading {
  position: absolute;
  top: 74%;
  left: 46%;
  font-weight: bold;
  font-family: Polaris;
  font-size: 3vh;
}

.resources {
  position: absolute;
  left: 35%;
  bottom: 15%;
  background-color: blue;
  color: white;
  border-color: blue;
  width: 100px;
  height: 50px;
}

.worlds {
  position: absolute;
  left: 75%;
  bottom: 32%;
  background-color: blue;
  color: white;
  border-color: blue;
  width: 25%;
  height: 42%;
}

.brightness img:hover {
  opacity: 0.5;
  color: yellow;
}

/* Contact Screen Styling  */

.Contact-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

h1.Contact-Title {
  font-family: Polaris;
  text-transform: uppercase;
  font-size: 5vh;
  position: absolute;
  left: 0;
  right: 0;
  width: 400px;
  margin: 0 auto;
  top: 20%;
  color: #fff;
}

.Contact-MessageBox {
  width: 100%;
  height: 20vh;
  padding: 12px 20px;
}

.Contact-Form {
  width: 100%;
  max-width: 50%;
  padding: 100px 15px;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 25%;
}

.Contact-Info {
  font-family: museo sans;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 800px;
  margin: 0 auto;
  color: white;
  line-height: 40px;
  font-size: 3vh;
}

.indent {
  text-indent: 19%;
}
.Contact-FormGroup {
  padding: 15px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Contact-Form .form-group {
  display: flex;
}

.Contact-Form .form-group .input-wrapper {
  width: 100%;
}

.Contact-Form .Contact-Label {
  margin: 8px 0;
  font-family: Museo-sans;
  font-size: 2vh;
  width: 25%;
  color: #fff;
  font-weight: 400px;
  font-size: 3vh;
}

.Contact-Form input,
.Contact-Form textarea {
  border-radius: 20px;
  background: url("./assets/images/paper_texture_04.jpg");
}

.Contact-Form input:focus,
.Contact-Form textarea:focus {
  outline: none;
}
.contact-modal .modal-content {
  text-align: center;
  background: url("./assets/images/FormBackground.png");
  background-size: cover;
  background-position: center;
}
.contact-modal .modal-header {
  border-bottom: none;
}
.contact-modal .modal-body {
  padding: 1rem 1rem 3rem 1rem;
}
.contact-modal h2 {
  color: #367771;
  font-size: 2.5rem;
  margin-top: 0.5em;
}
.contact-modal p {
  color: #367771;
  font-size: 1.5rem;
}
.Contact-Button {
  width: 100%;
  max-width: 24vh;
  height: auto;
  padding: 1vh;
  margin: 1vh auto;
  display: block;
  border-radius: 3vh;
  border-width: 1vh;
  border-color: #83cfb1;
  font-family: Polaris;
  font-size: 4vh;
  color: #367771;
}

.text {
  max-width: 30%;
  max-height: auto;
  font-weight: 9vh;
  text-align: center;
}

/* .TeacherButton {
  position: absolute;
  top: 5;
  top: 50%;
}
.StudentButton {
  position: absolute;
  top: 50%;
  left: 50%;
} */

/* Worlds Screen Styles */

.world-image {
  background-image: url("./images/background-texture.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  display: flex;
}

.technoworld {
  position: absolute;
  left: 42%;
  top: 25%;
}

.farmworld {
  position: absolute;
  left: 10%;
  top: 25%;

  max-width: 100%;
  max-height: 100%;
  width: 22rem;
}

.slumworld {
  position: absolute;
  left: 26%;
  top: 25%;

  margin-left: auto;
  margin-right: auto;
}

.egglab {
  position: absolute;
  left: 74%;
  top: 25%;
}

.seedcorp {
  position: absolute;
  left: 58%;
  top: 25%;
}

.Snake-text {
  font-size: 2.5vh;
  font-family: "museo sans";
}
.home-button {
  max-width: 100%;
  max-height: auto;
}

.hb-container {
  position: absolute;
  top: 0px;
  right: 30px;
  padding: 20px;
}

.techno-text-container {
  position: absolute;
  left: 41%;
}

.farm-text-container {
  position: absolute;
  left: 61%;
}

.slum-text-container {
  position: absolute;
  left: 35%;
}

.world-text {
  max-width: 58%;
  max-height: auto;
}

.back-icon {
  max-width: 70%;
  max-height: auto;
}

.world-text-farm {
  max-width: 50%;
  max-height: auto;
}

.techno-exit {
  width: 3%;
  position: absolute;
  left: 45%;
  bottom: 93%;
}

.farm-exit {
  width: 3.5%;
  position: absolute;
  left: 45%;
  bottom: 93%;
}

.slum-exit {
  width: 3%;
  position: absolute;
  left: 3%;
  bottom: 93%;
}

.lab-container {
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
}

.lab-button {
  position: absolute;
  width: 35%;
  height: auto;
  top: 88%;
  left: 33%;
}

.techno-text {
  position: absolute;
  bottom: 3%;
  left: 7%;
  width: 290px;
  height: 480px;
  text-align: center;
}

.farm-text {
  position: absolute;
  bottom: 9%;
  left: 8%;
  width: 100%;
  max-width: 38%;
  max-height: auto;
  text-align: center;
}

.slum-text {
  position: absolute;
  bottom: 1%;
  left: 6%;
  width: 290px;
  height: 580px;
  text-align: center;
}

.world-title {
  font-size: 30px;
  font-family: "polaris";
  font-weight: normal;
}

.info-text {
  font-family: "museo sans";
  font-weight: normal;
  text-align: left;
}

.chatbot {
  max-width: 100%;
  max-height: auto;
}

.Chatbot-Snake img:hover {
  opacity: 0.5;
  color: yellow;
}

/* Lab Screen Styles */

.bench {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  max-width: 100%;
  max-height: auto;
}

.dregg {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  right: 25%;
  bottom: 25%;
}

.drmoon {
  max-width: 50%;
  max-height: auto;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 4%;
  top: 4%;
  width: 25%;
}

.lab-button-wc {
  max-width: 75%;
  max-height: auto;
  padding: 7px;
}

.lab-button-facts {
  max-width: 85%;
  max-height: auto;
  padding: 7px;
}

.lab-button-fanfic {
  max-width: 60%;
  max-height: auto;
  padding: 7px;
}

.lab-button-inv {
  max-width: 90%;
  max-height: auto;
  padding: 7px;
}

.lab-button-biogoo {
  max-width: 45%;
  max-height: auto;
  padding: 7px;
}

.plank-container {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  bottom: 0%;
}

.plankname {
  position: absolute;
  font-family: museo sans;
  font-weight: bold;
  text-align: left;
  font-size: 4vh;
  color: white;
  top: 25%;
}

.plank {
  max-width: 60%;
  max-height: auto;
}

.aboriginal-flag {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  right: 5%;
  top: 18%;
}

.aboriginal-flag:hover {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  left: 85%;
  top: 17%;
  transform: scale(1.2);
}

.tool-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 18%;
}

.tools {
  width: 15%;
  max-width: 100%;
  max-height: auto;
  padding: 40px;
}

.tools:hover {
  transform: scale(1.5);
}

.wc-box {
  position: absolute;
  max-width: 30%;
  max-height: auto;
  left: 70%;
  top: 30%;
}

.back-container {
  position: absolute;
  width: 100%;
  padding: 20px;
}

.lab-blackboard {
  position: absolute;
  max-width: 45%;
  max-height: auto;
  left: 55%;
  top: 15%;
}

.popup-text {
  position: absolute;
  top: 25%;
  left: 0%;
  padding: 2px;
  font-family: "museo sans";
  font-weight: bold;
  text-align: center;
  font-size: 3vh;
}

.yt-trailer {
  position: absolute;
  width: 71.5%;
  height: 79.5%;
  max-width: 100%;
  max-height: 100%;
  left: 15%;
  top: 12%;
}

.book-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  transform: scale(0.8);
}

.page1 {
  position: absolute;
  max-width: 100%;
  width: 20%;
  height: 90%;
  left: 27%;
  top: 18%;
  padding: 25px;
}

.page2 {
  position: absolute;
  max-width: 100%;
  width: 20%;
  height: 90%;
  right: 28%;
  top: 25%;
  padding: 25px;
}

.page2-fanfic {
  position: absolute;
  max-width: 100%;
  width: 20%;
  height: 90%;
  right: 28%;
  top: 18%;
  padding: 25px;
}

.book-heading {
  font-family: polaris;
  color: #367771;
  text-align: center;
}

.book-text {
  font-family: museo sans;
  text-align: center;
  font-size: 18px;
}

.fact {
  transform: scale(0.9);
  margin-left: -30px;
}

.left-turn {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0.8);
  padding: 10px;
}

.right-turn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0.8);
  padding: 10px;
}

.popup-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40%;
}

.popup-btn {
  padding: 20px;
}

.ardash-popup {
  position: absolute;
  left: 25%;
  bottom: 12%;
  max-width: 100%;
  transform: scale(0.6);

  /* Add media queries  */
}

.wc-blackboard-container {
  position: absolute;
  width: 71.5%;
  height: 79.5%;
  max-width: 100%;
  max-height: 100%;
  left: 15%;
  top: 12%;
}

.wc-heading {
  color: white;
  font-family: polaris;
  text-align: center;
  font-size: 50px;
  padding: 10px;
}

.hr-line {
  height: 2px;
  color: white;
  background-color: white;
  margin-top: -20px;
}

.submit-icon {
  position: absolute;
  max-width: 100%;
  top: 0;
  right: 0;
  padding: 30px;
}

.chat-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 2%;
}

.wc-text {
  color: white;
  text-align: center;
  font-family: museo sans;
  font-size: 30px;
  padding: 20px;
  width: 80%;
}

.fish-icon {
  position: absolute;
  left: 0;
}

.hr-line2 {
  margin-top: 20px;
  opacity: 0.2;
  color: white;
  background-color: white;
  height: 1px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

/* .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 1554px;
  width: 100%;

  background-image: url("./images/DrEggLogoOnPaper.jpg");
  background-size: cover;

} */
.OnlineStore-Background-Container {
  background-image: url("./images/Lab.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.OnlineStore-Button {
  width: 100%;
  max-width: 50vh;
  max-height: auto;
  padding: 1vh;
  margin: 1vh auto;
  display: block;
  border-radius: 3vh;
  border-width: 1vh;
  border-color: #83cfb1;
  font-family: Polaris;
  font-size: 4vh;
  color: #367771;
  position: absolute;
  top: 45vh;
  left: 70vh;
}

/* Media queries */

/* Charcter (All) screen */

/* Mobile screens  */

/* Individual character screen  */
@media screen and (max-width: 490px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  /*   
  .modalBackground {
    left: 10%;
    width: 80%;
  }
   */
  .DrEggLogo {
    width: 65%;
    left: 17%;
    top: 20%;
  }

  .Home-Enter-Button {
    width: 50%;
    left: 25%;
    top: 70%;
  }

  .Ardash:hover {
    width: 40%;
    left: 46%;
  }

  .Cornelia:hover {
    width: 35%;
    left: 20%;
  }

  .Vivi:hover {
    width: 37%;
    left: -5%;
  }

  .DrEgg:hover {
    width: 40%;
    left: -2%;
  }
  .DrMoon:hover {
    width: 44%;
    left: 28%;
  }

  h1.Resources-Title {
    left: 30%;
    font-size: 3vh;
  }

  .buttons {
    left: 20%;
  }
  .Character-Bench {
    height: 20%;
  }
  .all {
    width: 50%;
    height: 50%;
  }
  .DrEgg {
    width: 65%;
    height: 80%;
    left: -15%;
    top: 20%;
  }

  .Vivi {
    left: -15%;
    top: 48%;
  }
  .Ardash {
    left: 38%;
    top: 48%;
  }
  .DrMoon {
    width: 65%;
    height: 80%;
    left: 17%;
    top: 20%;
  }
  .Cornelia {
    left: 15%;
    top: 50%;
  }
  .Pigeon {
    bottom: 10%;
    width: 20%;
  }
  .Rifraf {
    bottom: 10%;
    width: 30%;
  }
  .Carlin {
    bottom: 15%;
    width: 15%;
  }
  .SnakeImg {
    bottom: 7%;
    left: 30%;
    width: 45%;
  }
  .EggDrone {
    bottom: 10%;
    width: 20%;
  }
  .ProfMole {
    left: 50%;
    top: 65%;
    height: 15%;
  }

  /* .slumworld {
    width:1rem;
  } */
  h1.Character-Type {
    left: 20%;
    font-size: 3vh;
  }
  .Individual-Character-Name {
    left: 20%;
    top: 15%;
    font-size: 2.5vh;
  }

  .Individual-Character-Slogan {
    left: 20%;
    top: 18%;
    font-size: 1.5vh;
  }

  .Individual-Character-Name-ProfMole {
    left: 20%;
    top: 15%;
    font-size: 2vh;
  }

  .Individual-Character-DrEggDrone {
    line-height: 100px;
    left: 17%;
    top: 15%;
    font-size: 1.6vh;
  }
  .Individual-Character-Styling {
    max-width: 68%;
    left: -13%;
  }
  .Individual-Character-Styling-Inventors {
    width: 50%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Cornelia {
    width: 30%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Ardash {
    width: 40%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Vivi {
    width: 40%;
    left: 0%;
  }

  .Individual-Character-Styling-ProfMole {
    width: 80%;
    left: 20%;
  }

  .Character-Pet {
    width: 20%;
  }

  .Character-Tool {
    width: 35%;
  }

  .Petridish {
    width: 15%;
  }

  .Character-Pet-Pigeon {
    width: 20%;
    left: 45%;
    bottom: 3%;
  }

  .Character-Description {
    line-height: 20px;
    top: 23%;
    left: 20%;
    width: 60%;
    font-size: 1.5vh;
  }

  /* Companion popups  */

  .Powers {
    padding: 40px 0px;
  }
  .Character-Description-Inventors {
    /* display: none; */
    left: 10%;
  }
  .Individual-Character-Styling-Pigeon {
    max-width: 55%;
  }
  .Individual-Character-Styling-EggDrone {
    max-width: 45%;
    left: 0%;
  }

  .Powers {
    padding: 30px 0px;
  }

  .Character-Description-Snake {
    left: 20%;
    top: 27%;
    line-height: 20px;
  }

  /* Lab Screen Styling */
  .plankname {
    font-size: 1.6vh;
  }
  .aboriginal-flag {
    width: 20%;
  }

  .tool-container {
    bottom: 2%;
  }

  .tools {
    width: 30%;
  }

  /* Dregg still needs to be complete  */
}

/* iPads and Tablet screens */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .modalBackground {
    left: 15%;
    width: 70%;
  }

  .Ardash:hover {
    width: 29%;
    left: 40%;
  }

  .Cornelia:hover {
    width: 26%;
    left: 23%;
  }

  .Vivi:hover {
    width: 33%;
    left: -3%;
  }

  .DrEgg:hover {
    width: 43%;
    left: -3%;
  }
  .DrMoon:hover {
    width: 47%;
    left: 25%;
  }

  .DrEggLogo {
    width: 60%;
    height: 60%;
    left: 22%;
    top: 10%;
  }

  .Home-Enter-Button {
    width: 50%;
    left: 30%;
    top: 75%;
  }

  /* Resource screen */
  h1.Resources-Title {
    left: 32%;
  }
  .buttons {
    left: 20%;
  }
  .Character-Bench {
    height: 32%;
  }
  .all {
    width: 40%;
  }
  .DrEgg {
    width: 65%;
    height: 80%;
    left: -15%;
  }
  .Vivi {
    left: -8%;
    top: 30%;
  }
  .Ardash {
    left: 35%;
    top: 28%;
  }
  .DrMoon {
    top: 15%;
    width: 65%;
    height: 80%;
    left: 15%;
  }
  .Cornelia {
    left: 17%;
    top: 32%;
  }
  .Pigeon {
    bottom: 20%;
    width: 20%;
  }
  .Rifraf {
    bottom: 20%;
    width: 30%;
  }
  .Carlin {
    bottom: 20%;
    width: 15%;
  }
  .SnakeImg {
    bottom: 14%;
    left: 30%;
    width: 40%;
  }
  .EggDrone {
    bottom: 20%;
    width: 20%;
  }
  .ProfMole {
    left: 60%;
  }

  h1.Character-Type {
    position: absolute;
    left: 20%;
    font-size: 3vh;
  }

  .Individual-Character-Name {
    left: 20%;
    top: 15%;
    font-size: 2.5vh;
  }
  .Individual-Character-Slogan {
    left: 20%;
    top: 18%;
    font-size: 2.4vh;
  }
  .Individual-Character-DrEggDrone {
    line-height: 100px;
    left: 18%;
    top: 20%;
    font-size: 2.3vh;
  }

  .Individual-Character-Styling {
    max-width: 68%;
    left: -13%;
  }
  .Individual-Character-Styling-Inventors {
    width: 50%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Cornelia {
    width: 30%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Ardash {
    width: 40%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Vivi {
    width: 40%;
    left: 0%;
  }

  .Individual-Character-Styling-ProfMole {
    width: 70%;
    left: 30%;
  }

  .Character-Pet {
    width: 20%;
  }

  .Character-Tool {
    width: 35%;
  }

  .Petridish {
    width: 15%;
  }

  .Character-Pet-Pigeon {
    width: 20%;
    left: 45%;
    bottom: 0%;
  }

  .Powers {
    padding: 40px 0px;
  }
  .Individual-Character-Styling {
    max-width: 45%;
  }

  .Individual-Character-Styling-Pigeon {
    max-width: 45%;
  }
  .Individual-Character-Styling-EggDrone {
    max-width: 35%;
  }

  .Character-Description-Snake {
    line-height: 37px;
  }

  .Character-Description-Inventors {
    left: 30%;
    top: 22%;
    line-height: 22px;
  }

  .Character-Description {
    left: 18%;
    top: 25%;
    width: 60%;
    line-height: 30px;
  }
}

/* Tablet / Desktop screens */
@media screen and (min-width: 801) and (max-width: 1024px) and (orientation: landscape) {
  .modalBackground {
    left: 1%;
    background-size: 70%;
  }

  .plankname {
    font-size: 2.5vh;
  }

  .aboriginal-flag {
    width: 15%;
  }

  .tool-container {
    bottom: 7%;
  }

  .tools {
    width: 24%;
  }

  .dregg {
    bottom: 12%;
  }
}

/* Tablet / Desktop screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Ardash:hover {
    width: 22%;
    left: 0%;
  }

  .Cornelia:hover {
    width: 22%;
    left: 9%;
  }

  .Vivi:hover {
    width: 25%;
    left: -5%;
  }

  .DrEgg:hover {
    width: 27%;
    left: 0%;
  }
  .DrMoon:hover {
    width: 27%;
    left: 17%;
  }

  .DrEggLogo {
    width: 45%;
    height: 60%;
    left: 30%;
    top: 10%;
  }

  .Home-Enter-Button {
    width: 40%;
    left: 33%;
    top: 75%;
  }
  /* Resource screen */
  .buttons {
    left: 20%;
  }
  .Character-Bench {
    height: 32%;
  }
  .all {
    width: 40%;
  }
  .DrEgg {
    left: -8%;
  }
  .Vivi {
    width: 30%;
    left: -10%;
    top: 24%;
  }
  .Ardash {
    width: 32%;
    left: 20%;
  }
  .DrMoon {
    left: 10%;
    top: -5%;
  }
  .Cornelia {
    width: 30%;
    left: 8%;
  }
  .Pigeon {
    bottom: 20%;
    width: 20%;
  }
  .Rifraf {
    bottom: 20%;
    width: 30%;
  }
  .Carlin {
    bottom: 20%;
    width: 15%;
  }
  .SnakeImg {
    bottom: 12%;
    width: 30%;
  }
  .EggDrone {
    bottom: 20%;
    width: 20%;
  }
  .ProfMole {
    left: 60%;
  }

  .Individual-Character-Styling {
    max-width: 68%;
    left: -13%;
  }
  .Individual-Character-Styling-Inventors {
    width: 35%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Cornelia {
    width: 25%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Ardash {
    width: 30%;
    left: 0%;
  }

  .Individual-Character-Styling-Inventors-Vivi {
    width: 30%;
    left: 0%;
  }

  .Individual-Character-Styling-ProfMole {
    width: 60%;
    left: 40%;
  }

  .Character-Pet {
    width: 20%;
  }

  .Character-Tool {
    width: 25%;
  }

  .Petridish {
    width: 10%;
  }

  .Character-Pet-Pigeon {
    width: 20%;
    left: 45%;
    bottom: 0%;
  }

  /* Companion popups  */

  .Powers {
    padding: 40px 0px;
  }

  .Character-Type {
    left: 25%;
  }
  .Individual-Character-Slogan {
    left: 30%;
    top: 24%;
    font-size: 3vh;
  }

  .Character-Description {
    left: 20%;
    width: 60%;
    top: 30%;
  }

  .Character-Description-Inventors {
    line-height: 30px;
  }
  .Powers {
    padding: 50px 0px;
  }
  .Individual-Character-DrEggDrone {
    line-height: 100px;
    left: 18%;
    top: 20%;
    font-size: 2.5vh;
  }
  .Individual-Character-Styling {
    max-width: 35%;
  }

  .Individual-Character-Styling-Pigeon {
    max-width: 35%;
  }
  .Individual-Character-Styling-EggDrone {
    max-width: 35%;
  }

  .Character-Description-Snake {
    line-height: 50px;
  }
  .Mobile-Characteristics {
    display: none;
  }

  /* Lab Screen Styling */

  .button-container {
    width: 20%;
  }

  .plankname {
    font-size: 3vh;
  }

  .aboriginal-flag {
    width: 10%;
  }
  .tool-container {
    bottom: 10%;
  }

  .tools {
    width: 20%;
  }

  .dregg {
    bottom: 18%;
  }
}

@media screen and (min-width: 1025px) {
  .Character-Type {
    left: 25%;
  }
  .Individual-Character-Slogan {
    left: 30%;
    top: 24%;
    font-size: 3vh;
  }
}

/* Online Store Style*/
.OnlineStore-Background-Container {
  background-image: url("./images/Book.png");
  background-size: 100% 100%;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.InputStyle {
  display: none;
}

.BookCoverImg {
  width: 100%;
  height: 90%;
  background-color: white;
}

.BookImg {
  width: 100%;
  height: 99%;
  background-color: white;
}

.OnlineStore-Container {
  display: flex;
  width: 75%;
  height: 90%;
}

#cover {
  width: 50vw;
  height: 98vh;
}

.pageContainer {
  width: 50vw;
  height: 98vh;
  position: relative;
  perspective: 100vw;
}

.page {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.5s;
  -moz-backface-visibility: hidden;
}

.front,
.back {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  position: absolute;
}

.front {
  box-sizing: border-box;
  background-color: white;
}

.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.BookTxt {
  width: 100%;
  height: 95%;
  position: absolute;
  overflow: auto;
}

#c1:checked ~ .pageContainer #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
}

#c2:checked ~ .pageContainer #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}

#c3:checked ~ .pageContainer #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}

.nextBtn {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  cursor: pointer;
}

.backBtn {
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  cursor: pointer;
}

#p1 {
  z-index: 3;
}
#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

.OnlineStore-Button {
  display: flex;
  padding: 1vh;
  margin: 1vh auto;
  display: block;
  border-radius: 3vh;
  border-width: 1vh;
  border-color: #83cfb1;
  font-family: Polaris;
  font-size: 2vw;
  color: #367771;
  position: absolute;
  top: 40%;
  left: 3%;
  width: 90%;
  height: auto;
}

.StoreBack {
  top: 1vh;
  right: 1vw;
  position: absolute;
  width: 12vw;
  height: auto;
}

/*Error Pages Style*/

.ErrorPageStyle {
  background-image: url("./images/Lab.png");
  background-size: 100% 100%;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ErrorTxtCont {
  position: absolute;
  top: 12vh;
  left: 15vw;
  height: 48vh;
  width: 71vw;
  padding: 4vw 0;
  overflow: auto;
}

.ErrorTxt {
  width: 69vw;
}

.h1ErrorChalkboard {
  font-size: 20vh;
  font-family: "polaris";
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.h2ErrorChalkboard {
  font-size: 5vh;
  font-family: "museo sans";
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.h3ErrorChalkboard {
  font-size: 2vh;
  font-family: "museo sans";
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.ErrorBlackboard {
  height: 100vh;
  width: 100vw;
}

.ErrorHomeButton {
  position: absolute;
  top: 60vh;
  left: 28vw;
  height: 14vh;
  width: 21vw;
}

.ErrorReportButton {
  position: absolute;
  top: 60vh;
  left: 50vw;
  height: 14vh;
  width: 21vw;
}

@media all and (max-aspect-ratio: 10/16) {
  .ErrorTxtCont {
    position: absolute;
    top: 12vh;
    left: 15vw;
    height: 48vh;
    width: 71vw;
    overflow: auto;
  }

  .h1ErrorChalkboard {
    font-size: 30vw;
    font-family: "polaris";
    color: white;
    text-align: center;
    word-wrap: break-word;
  }

  .ErrorHomeButton {
    position: absolute;
    top: 60vh;
    left: 28vw;
    height: 10vh;
    width: 42vw;
  }

  .ErrorReportButton {
    position: absolute;
    top: 73vh;
    left: 28vw;
    height: 10vh;
    width: 42vw;
  }
}

.ErrorBack {
  position: absolute;
  top: 1vh;
  right: 1vw;
}
.ErrorBack:hover {
  cursor: pointer;
}
/* Map Styling */

.Map-Container {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
}

.Map {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.GamesHeading {
  position: absolute;
  top: 39%;
  left: 80%;
  right: 9%;
  bottom: 54%;
  background-image: url("./images/MapButton/Btn-Game.png");
  background-size: 100% 100%;
}
.GamesHeading:hover {
  position: absolute;
  top: 37%;
  left: 79%;
  right: 8%;
  bottom: 53%;
  background-image: url("./images/MapButton/Btn-Game-Glow.png");
  background-size: 100% 100%;
}

.ContactHeading {
  position: absolute;
  top: 87%;
  bottom: 6%;
  left: 74%;
  right: 15%;
  background-image: url("./images/MapButton/Btn-Contact.png");
  background-size: 100% 100%;
}

.ContactHeading:hover {
  position: absolute;
  top: 85%;
  bottom: 5%;
  left: 73%;
  right: 14%;
  background-image: url("./images/MapButton/Btn-Contact-Glow.png");
  background-size: 100% 100%;
}

.CharactersHeading {
  position: absolute;
  top: 67%;
  bottom: 26%;
  left: 28%;
  right: 55%;
  background-image: url("./images/MapButton/Btn-Characters.png");
  background-size: 100% 100%;
}
.CharactersHeading:hover {
  position: absolute;
  top: 65%;
  bottom: 25%;
  left: 27%;
  right: 54%;
  background-image: url("./images/MapButton/Btn-Characters-Glow.png");
  background-size: 100% 100%;
}

.LabHeading {
  position: absolute;
  top: 47%;
  bottom: 46%;
  left: 50%;
  right: 32%;
  background-image: url("./images/MapButton/Btn-Laboratory.png");
  background-size: 100% 100%;
}

.LabHeading:hover {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 49%;
  right: 31%;
  background-image: url("./images/MapButton/Btn-Laboratory-Glow.png");
  background-size: 100% 100%;
}

.WorldsHeading {
  position: absolute;
  top: 38%;
  bottom: 55%;
  left: 17%;
  right: 71%;
  background-image: url("./images/MapButton/Btn-World.png");
  background-size: 100% 100%;
}

.WorldsHeading:hover {
  position: absolute;
  top: 36%;
  bottom: 54%;
  left: 16%;
  right: 70%;
  background-image: url("./images/MapButton/Btn-World-Glow.png");
  background-size: 100% 100%;
}

.TrailerHeading {
  position: absolute;
  top: 61%;
  bottom: 32%;
  left: 83%;
  right: 3%;
  background-image: url("./images/MapButton/Btn-Trailer.png");
  background-size: 100% 100%;
}

.TrailerHeading:hover {
  position: absolute;
  top: 59%;
  bottom: 31%;
  left: 82%;
  right: 2%;
  background-image: url("./images/MapButton/Btn-Trailer-Glow.png");
  background-size: 100% 100%;
}

.ResourcesHeading {
  position: absolute;
  top: 77%;
  bottom: 16%;
  left: 3%;
  right: 73%;
  background-image: url("./images/MapButton/Btn-ProductOverview.png");
  background-size: 100% 100%;
}

.ResourcesHeading:hover {
  position: absolute;
  top: 75%;
  bottom: 15%;
  left: 2%;
  right: 72%;
  background-image: url("./images/MapButton/Btn-ProductOverview-Glow.png");
  background-size: 100% 100%;
}

.OnlineStoreHeading {
  position: absolute;
  top: 75%;
  bottom: 18%;
  left: 54%;
  right: 35%;
  background-image: url("./images/MapButton/Btn-Book.png");
  background-size: 100% 100%;
}
.OnlineStoreHeading:hover {
  position: absolute;
  top: 73%;
  bottom: 17%;
  left: 53%;
  right: 34%;
  background-image: url("./images/MapButton/Btn-Book-Glow.png");
  background-size: 100% 100%;
}
.MapSnake {
  position: absolute;
  bottom: 4vh;
  left: 85vw;
  width: 12vw;
  height: auto;
}
.BtnContain {
  height: 100vh;
  width: 141vh;
  background-image: url("./images/WorldMap.png");
  background-size: 100% 100%;
  position: relative;
}
@media all and (min-aspect-ratio: 45/32) {
  .BtnContain {
    height: 71vw;
    width: 100vw;
  }

  /* Game Screen */

  .Game-Background-Container {
    background-image: url("./images/World-Blur.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
  }

  .game-container {
    display: flex;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .gamebtn {
    display: flex;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-left: 17%;
  }

  .game-button {
    max-width: 40%;
    max-height: auto;
    margin: 10px;
  }

  .apple-button {
    width: 65%;
    max-width: 100%;
    max-height: auto;
    margin-top: 3%;
  }

  .game-text1 {
    font-family: polaris;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    color: #5daa86;
  }

  .game-text2 {
    font-family: polaris;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }

  .ardash-face {
    position: absolute;
    top: 60%;
    right: 80%;
    transform: scale(1.1);
  }

  .vivi-face {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: scale(1.1);
  }
}
