@media screen and (max-width: 1024px) and (max-height: 1367px) and (orientation: portrait) {
  /* Lab Screen Styling */

  .button-container {
    width: 50%;
  }

  .plankname {
    font-size: 1.5vh;
  }

  .aboriginal-flag {
    width: 10%;
    top: 10%;
  }
  .tool-container {
    bottom: 5%;
  }

  .tools {
    width: 20%;
  }

  .dregg {
    bottom: 10%;
  }

  .wc-box {
    top: 75%;
  }

  /* Game Screen */

  .Game-Background-Container {
    background-image: url("./images/World-Blur.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
  }

  .game-container {
    display: flex;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .gamebtn {
    display: flex;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-left: 17%;
  }

  .game-button {
    max-width: 40%;
    max-height: auto;
    margin: 10px;
  }

  .apple-button {
    width: 65%;
    max-width: 100%;
    max-height: auto;
    margin-top: 3%;
  }

  .game-text1 {
    font-family: polaris;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    color: #5daa86;
  }

  .game-text2 {
    font-family: polaris;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }

  .ardash-face {
    position: absolute;
    top: 60%;
    right: 80%;
    transform: scale(1.1);
  }

  .vivi-face {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1367px) and (max-height: 1024px) and (orientation: landscape) {
  /* Game Screen */

  .Game-Background-Container {
    background-image: url("./images/World-Blur.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
  }

  .game-container {
    display: flex;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .gamebtn {
    display: flex;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-left: 17%;
  }

  .game-button {
    max-width: 40%;
    max-height: auto;
    margin: 10px;
  }

  .apple-button {
    width: 65%;
    max-width: 100%;
    max-height: auto;
    margin-top: 3%;
  }

  .game-text1 {
    font-family: polaris;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    color: #5daa86;
  }

  .game-text2 {
    font-family: polaris;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }

  .ardash-face {
    position: absolute;
    top: 60%;
    right: 80%;
    transform: scale(1.1);
  }

  .vivi-face {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: scale(1.1);
  }

  /* Lab Screen Styling */

  .button-container {
    width: 30%;
  }

  .plankname {
    font-size: 3vh;
  }

  .aboriginal-flag {
    width: 10%;
  }
  .tool-container {
    bottom: 10%;
  }

  .tools {
    width: 20%;
  }

  .dregg {
    bottom: 18%;
  }

  .wc-box {
    top: 50%;
  }
}
