@media screen and (max-width: 1000px) and (max-height: 500px) and (orientation: landscape) {
  /* Crazy Facts */

  .page1 {
    margin-top: 15%;
  }

  .ardash-popup {
    left: 40%;
    width: 30%;
  }

  .popup-btn {
    width: 50%;
  }

  .popup-btn-cont {
    width: 40%;
    position: absolute;
    top: 80%;
    left: 32%;
  }

  .book-heading {
    font-size: 16px;
  }

  .book-text {
    font-size: 12px;
  }

  .fact {
    width: 60%;
  }

  /* Lab screen */

  .wc-box {
    top: 40%;
  }

  /* Game Screen Mobile Landscape*/

  .game-text2 {
    font-size: 12px;
    left: 30%;
  }

  .apple-button {
    margin-top: 7%;
    width: 70%;
  }
}

@media screen and (max-width: 500px) and (max-width: 1000px) and (orientation: portrait) {
  /* Crazy Facts */

  .page1 {
    margin-top: 20%;
  }

  .book-heading {
    font-size: 16px;
  }

  .book-text {
    font-size: 12px;
    padding: 10px;
  }

  .fact {
    width: 60%;
  }

  /* Lab screen */

  .wc-box {
    top: 80%;
  }

  .tool-container {
    bottom: 3%;
  }

  .tools {
    width: 28%;
  }

  /* Game Screen Mobile Portrait*/

  .gamebtn {
    width: 100%;
  }

  .apple-button {
    width: 80%;
    margin-top: 10%;
  }

  .game-text1 {
    font-size: 20px;
  }

  .game-text2 {
    left: 17%;
  }
}
