/*Phone Aspect Ratio*/
@media all and (max-aspect-ratio: 10/16) {
    /*Error Page*/
  
    .ErrorTxtCont {
      top: 12vh;
      left: 15vw;
      height: 48vh;
      width: 71vw;
    }
  
    .h1ErrorChalkboard {
      font-size: 30vw;
    }
  
    .ErrorHomeButton {
      top: 60vh;
      bottom: 30vh;
      left: 28vw;
      right: 30vw;
    }
  
    .ErrorHomeButton:hover {
      top: 58vh;
      bottom: 28vh;
      left: 26vw;
      right: 28vw;
    }
  
    .ErrorReportButton {
      top: 73vh;
      left: 28vw;
      right: 30vw;
      bottom: 17vh;
    }
  
    .ErrorReportButton:hover {
      top: 71vh;
      left: 26vw;
      right: 28vw;
      bottom: 15vh;
    }
  
    /*Phone Online Store Style*/
    .OnlineStore-Background-Container {
      background-image: url("./images/OnlineStoreImage/OnlineStorePBG.png");
    }
  
    .OnlineStore-Container {
      flex-direction: column;
    }
  
    #bookCover {
      width: 100%;
      height: 50%;
    }
  
    .pageContainer {
      width: 100%;
      height: 50%;
    }
    .imgPageCoverContainer {
      background-image: url("./images/OnlineStoreImage/UPage.png");
      top: 13%;
      left: 3%;
      height: 87%;
      width: 93%;
    }
  
    .frontPage {
      background-image: url("./images/OnlineStoreImage/UPage.png");
      transform: rotateZ(180deg);
      height: 87%;
      width: 93%;
      top: 0%;
      left: 4%;
    }
    .backPage {
      background-image: url("./images/OnlineStoreImage/UPage.png");
      top: 13%;
      left: 3%;
      height: 87%;
      width: 93%;
    }
  
    .bookTxt {
      width: 90%;
      height: 85%;
      left: 5%;
      top: 2%;
      transform: rotateZ(180deg);
      font-size: 3.4vw;
    }
  
    .page {
      transform-origin: top;
      transform: rotateX(0deg);
    }
  
    .backPageContainer {
      transform: rotateX(-180deg);
    }
  
    #c1:checked ~ .pageContainer #p1 {
      transform: rotateX(180deg);
    }
  
    #c2:checked ~ .pageContainer #p2 {
      transform: rotateX(180deg);
    }
  
    #c3:checked ~ .pageContainer #p3 {
      transform: rotateX(180deg);
    }
  
    .nextBtn {
      background-image: url("./images/OnlineStoreImage/btnDown.png");
      transform: rotateZ(180deg);
      bottom: 90%;
      left: 82%;
    }
  
    .nextBtn:hover {
      background-image: url("./images/OnlineStoreImage/btnDownGlow.png");
      bottom: 89%;
      left: 81%;
    }
  
    .backBtn {
      background-image: url("./images/OnlineStoreImage/btnDown.png");
      bottom: 1vh;
      right: 2vw;
    }
  
    .backBtn:hover {
      background-image: url("./images/OnlineStoreImage/btnDownGlow.png");
      bottom: 0.8vh;
      right: 0.7vw;
    }
  
    .OnlineTxt {
      top: 20%;
      position: absolute;
      font-size: 2vh;
      font-family: "polaris";
      font-weight: bold;
    }
  
    .StoreBack {
      right: 2vw;
      top: 2vh;
      bottom: 90vh;
      left: 80vw;
    }
    .StoreBack:hover {
      right: 0vw;
      top: 1vh;
      bottom: 89vh;
      left: 78vw;
    }
  
    .StoreSnake {
      right: 1vw;
      bottom: 1vw;
      width: 25vw;
      height: auto;
      max-height: 6vh;
      max-width: 100vw;  
    }
  
    /* Game Screen */
  
    .Game-Background-Container {
      background-image: url("./images/World-Blur.png");
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: relative;
    }
  
    .game-container {
      display: flex;
      height: auto;
      max-width: 100%;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .gamebtn {
      display: flex;
      height: auto;
      max-width: 100%;
      flex-direction: row;
      justify-content: center;
      padding: 10px;
      padding-left: 17%;
    }
  
    .game-button {
      max-width: 40%;
      max-height: auto;
      margin: 10px;
    }
  
    .apple-button {
      width: 65%;
      max-width: 100%;
      max-height: auto;
      margin-top: 3%;
    }
  
    .game-text1 {
      font-family: polaris;
      font-weight: bold;
      text-align: center;
      font-size: 26px;
      color: #5daa86;
    }
  
    .game-text2 {
      font-family: polaris;
      font-weight: bold;
      text-align: center;
      font-size: 14px;
    }
  
    .ardash-face {
      position: absolute;
      top: 60%;
      right: 80%;
      transform: scale(1.1);
    }
  
    .vivi-face {
      position: absolute;
      top: 60%;
      left: 80%;
      transform: scale(1.1);
    }
  }
  